<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/10.1/phpunit.xsd"
         colors="true"
         bootstrap="bootstrap.php"
         backupGlobals="false"
         cacheDirectory=".phpunit.cache"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         failOnWarning="true"
         failOnNotice="true">
    <testsuites>
        <testsuite name="MONEI Payment Module Unit Tests">
            <directory suffix="Test.php">Unit</directory>
            <exclude>Unit/Integration</exclude>
        </testsuite>
        <testsuite name="MONEI Payment Module Integration Tests">
            <directory suffix="Test.php">Unit/Integration</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>
    <source>
        <include>
            <directory suffix=".php">../Model</directory>
            <directory suffix=".php">../Service</directory>
            <directory suffix=".php">../Helper</directory>
            <directory suffix=".php">../Plugin</directory>
        </include>
    </source>
</phpunit>