# IDE and Editor files
.idea/*
.DS_Store

# Composer
/vendor/
composer.lock
auth.json

# Node.js
node_modules

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Cache files
.php-cs-fixer.cache
.phpcs-cache
.php_cs.cache
.phpunit.result.cache
/var/cache/*
/generated/*
/examples/*

pretty-php.phar
pretty-php.phar.asc

# Development symlinks
/dev/vendor_symlink
/dev/magento_symlink

# Temporary files
/tmp/*
Test/.phpunit.cache/test-results
var
