# IDE and Editor files
.idea/*
.DS_Store

# Composer
vendor
composer.lock
auth.json

# Node.js
node_modules

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Temporary files
tmp
var
reports

.playwright-mcp
