.idea/*
node_modules
.DS_Store
.composer.lock

# Yarn
/build/.pnp.*
/build/.yarn/*
!/build/.yarn/patches
!/build/.yarn/plugins
!/build/.yarn/releases
!/build/.yarn/sdks
!/build/.yarn/versions

# Cache files
.php-cs-fixer.cache
.phpcs-cache
.php_cs.cache
.phpunit.result.cache
stubs/cache/*
/var/cache/*
/generated/*
