parameters:
    level: 4
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    fileExtensions:
        - php
        - phtml
    paths:
        - .
    excludePaths:
        - vendor/*
        - var/*
        - node_modules/*
    # Parallel processing
    parallel:
        maximumNumberOfProcesses: 8
includes:
    - vendor/bitexpert/phpstan-magento/extension.neon
