<?xml version="1.0" ?>
<!--
/**
 * @category  Monei

 * php version 8.1
 * @author    Monei <support@monei.com>
 * @copyright 2023 Monei
 * @link      https://monei.com/
 */
-->
<config
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd"
>
  <router id="standard">
    <route id="monei" frontName="monei">
      <module name="Monei_MoneiPayment" />
    </route>
  </router>
</config>
