<?xml version="1.0" ?>
<!--
/**
 * @category  Monei
 * php version 8.1
 * @author    Monei <support@monei.com>
 * @copyright 2023 Monei
 * @link      https://monei.com/
 */
-->
<config
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd"
>
  <event name="admin_system_config_changed_section_payment">
    <observer name="monei_config_change_observer" instance="Monei\MoneiPayment\Observer\ConfigChangeObserver" />
  </event>
</config>
