<?xml version="1.0"?>
<!--
  ~ @author Monei Team
  ~ @copyright Copyright © Monei (https://monei.com)
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
  <router id="admin">
    <route id="monei" frontName="monei">
      <module name="Monei_MoneiPayment"/>
    </route>
  </router>
</config>
